<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" >
<head th:fragment="head(title,cssPaths)">
	<title th:text="${title}"></title>
	<meta  charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <script th:src="@{/static/easyui/jquery.min.js}"></script>
    <script th:src="@{/static/easyui/jquery.easyui.min.js}"></script>
	<script th:src="@{/static/easyui/jquery.min.js}"/>
	<script th:src="@{/static/bootstrap-3.3.7/js/bootstrap.min.js}"  type="text/javascript"></script>
	<script th:src="@{/static/layer/layer.js}" type="text/javascript"></script>
	<script th:src="@{/static/bootstrap-3.3.7/js/bootstrap-table.js}" type="text/javascript"></script>
	<script th:src="@{/static/bootstrap-3.3.7/js/validator/bootstrapValidator.min.js}"  type="text/javascript"></script>
	<script th:src="@{/static/bootstrap-3.3.7/js/fileupload/fileinput.min.js}"></script>
    <script th:src="@{/static/bootstrap-3.3.7/js/fileupload/locales/zh.js}"></script>
	<script th:src="@{/static/bootstrap-3.3.7/js/export/tableExport.js}"  type="text/javascript"></script>
	<script th:src="@{/static/My97DatePicker/My97DatePicker/WdatePicker.js}" type="text/javascript"></script>
	<link th:href="@{/static/easyui/them/icon.css}" rel="stylesheet"/>
	<link th:href="@{/static/easyui/them/easyui.css}" rel="stylesheet"/>
    <link th:href="@{/static/bootstrap-3.3.7/css/bootstrap.css}" rel="stylesheet"/>
	<link th:href="@{/static/bootstrap-3.3.7/css/validator/bootstrapValidator.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/bootstrap-3.3.7/css/bootstrap-table.css}" rel="stylesheet"/>
	<link th:href="@{/static/layer/theme/default/layer.css}" rel="stylesheet"/>
	<link th:href="@{/static/bootstrap-3.3.7/css/fileupload/fileinput.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/bootstrap-3.3.7/css/awesome-bootstrap-checkbox.css}" rel="stylesheet"/>
	<link th:href="@{/static/My97DatePicker/My97DatePicker/skin/WdatePicker.css}" rel="stylesheet"/>
	<link th:href="@{/static/style.css}" rel="stylesheet"/>
	<script th:src="@{/static/backstage.js}" type="text/javascript"/>
</head>
<body>
</body>
</html>