<div id="panel_one"  class="panel panel-primary"  style="padding-bottom:0px; display:none" th:fragment="addItem">
 							<div>
								<ul class="breadcrumb">
    								<li><a href="#">首页</a></li>
    								<li class="active">发布商品</li>
								</ul>
							</div>
 							<div class="panel-body panel_body_style">
							<div id="panel_body_first" class="row">
								<div class="col-md-6">
									<form id="item_add_form" class="bs-example bs-example-form" role="form" enctype="multipart/form-data">
										<input type="hidden" id="image" name="image"/>
										<input type="hidden" id="img_id" name="img_id"/>
										<div class="input-group" style="width:100%;margin-top:30px;">
											<div class="row">
												<div class="col-md-2">
													<span class="span-control01" style="font-size:14px;">商品名称:</span>
												</div>
												<div class="col-md-8">
													<input type="text" id="title" name="title" class="form-control"  placeholder="商品名称"/>
												</div>
												<div class="col-md-2"></div>
											</div>
										</div>
										<div class="input-group" style="width:100%;margin-top:30px;">
											<div class="row">
												<div class="col-md-2">
													<span class="span-control01">商品类目:</span>
												</div>
												<div class="col-md-8">
													<select id="splx" name="splx" class="form-control"></select>
												</div>	
												<div class="col-md-2"></div>
											</div>
										</div>
										<div class="input-group" style="width:100%;margin-top:30px;">
											<div class="row">
												<div class="col-md-2">
													<span class="span-control01">尺寸/尺码:</span>
												</div>
												<div class="col-md-9" style="border:1px solid #bbb;margin-left:15px;padding:15px;">
													 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="S"/>
            											<label for="S">S</label>
    												 </div>	
													 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="M"/>
            											<label for="M">M</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="L"/>
            											<label for="L">L</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="XL"/>
            											<label for="XL">XL</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="XXL"/>
            											<label for="XXL">XXL</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="XXXL"/>
            											<label for="XXXL">XXXL</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SA_L"/>
            											<label for="SA_L">36码</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SA_Q"/>
            											<label for="SA_Q">37码</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SA_B"/>
            											<label for="SA_B">38码</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SA_J"/>
            											<label for="SA_J">39码</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SI_SH"/>
            											<label for="SI_SH">40码</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SI_SHY"/>
            											<label for="SI_SHY">41码</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SI_SHE"/>
            											<label for="SI_SHE">42码</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SI_SHSA"/>
            											<label for="SI_SHSA">43码</label>
    												 </div>
    												 <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SI_SHSI"/>
            											<label for="SI_SHSI">44码</label>
    												 </div>
    												  <div class="checkbox-custom checkbox-default">
        												<input type="checkbox" id="SI_SHW"/>
            											<label for="SI_SHW">45码</label>
    												 </div>
												</div>
												<div class="col-md-1"></div>
											</div>
										</div>
										<div class="input-group" style="width:100%;margin-top:30px;">
											<div class="row">
												<div class="col-md-2">
													<span class="span-control01">商品价格:</span>
												</div>
												<div class="col-md-8">
													<input type="text" id="price" name="price" class="form-control" placeholder="0.00(￥)"/>
												</div>	
												<div class="col-md-2"></div>
											</div>
										</div>
										<div class="input-group" style="width:100%;margin-top:30px;">
											<div class="row">
												<div class="col-md-2">
													<span class="span-control01">商品库存:</span>
												</div>
												<div class="col-md-8">
													<input type="text" id="num" name="num" class="form-control"  placeholder="0(件)"/>
												</div>	
												<div class="col-md-2"></div>
											</div>
										</div>
										<div style="width:100%;margin-top:30px;"><span class="span-control01">商品卖点(描述):</span></div>
										<div class="input-group">
											 <textarea class="form-control" id="sell_point" name="sell_point"  rows="6" style="width:600px;"></textarea>
										</div>
										<div style="width:100%;margin-top:30px;"><span class="span-control01">商品图片:</span></div>
										<div class="input-group" style="width:600px;">
											<input type="hidden" name="imglx" id="imglx" value="1"/>
											<input type="file" name="img_file" id="img_file" multipart="multipart" class="file-loading" />
										</div>
										<br/>
										<div class="input-group">
											<div class="row">
												<div class="col-md-1 pull-left">
													<button type="button" name="submit" class="btn btn-primary" style="width:100px;" onclick="btn_submit();">提&nbsp;交</button>
												</div>
												<div class="col-md-1 pull-right">
													<button type="reset" id="btn_cancel" class="btn btn-primary" style="width:100px;">取&nbsp;消</button>
												</div>
											</div>
										</div>	
									</form>
								</div>
							</div>
						</div>
					</div>
		
