<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org" >
<head></head>
<body>
<div id="panel_three" class="panel panel-primary" style="padding-bottom:0px; display:none" th:fragment="itemList">
		<div>
			<ul class="breadcrumb">
    			<li><a href="#">首页</a></li>
    			<li class="active">商品信息列表</li>
			</ul>
		</div>
		<div class="panel-body panel_body_style">
			<div class="row">
			<div class="col-xs-12">
			<form id="formSearch" class="form-horizontal" onsubmit="submit_check();">
				<div class="form-group">
					<label class="control-label col-md-1" for="txt_search_title" >商品名称</label>
					<div class="col-md-3 pull-left" >
						<input type="text"  name="title" class="form-control" id="txt_search_title"/>
					</div>
					<div class="control-label col-md-1 pull-left" for="txt_search_mh" style="text-align:left">
						<span><input type="checkbox" id="mhcx" name="mhcx"/></span>
						<span>模糊</span>
					</div>
					<label class="control-label col-md-1" for="txt_search_status">状态</label>
					<div class="col-md-3" >
						<select id="txt_search_status" name="status" class="form-control">
							<option></option>
						</select>
						<!-- <input type="text" name="status" class="form-control" id="txt_search_status"/> -->
					</div>
					<!-- <div class="col-md-1" style="text-align:left;" >
						<button type="button" style="margin-left:15px;" id="btn_query" class="btn btn-primary" onclick="param_search();" >查询</button>
					</div> -->
				</div>
			</form>
			</div>
			</div>
			<div class="row">
			<div class="col-xs-12">
			<div id="exampleToolbar" class="fixed-table-toolbar">
				<div class="columns pull-left">
					<button type="button" class="btn btn-info" onclick="btn_search();">
						<i class="fa fa-trash" aria-hidden="true"></i>
						<span class="glyphicon glyphicon-search"></span>
						查询
					</button>
					<button type="button" class="btn btn-danger" onclick="btn_remove();">
						<i class="fa fa-trash" aria-hidden="true"></i>
						<span class="glyphicon glyphicon-remove"></span>
						删除
					</button>
					<button id="btn_download" type="button" class="btn btn-primary" onclick="btn_export();">
						<i class="fa fa-trash" aria-hidden="true"></i>
						<span class="glyphicon glyphicon-export"></span>
						导出Excel
					</button>
				</div>
			</div>
			</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<table id="userListTable"></table>	
				</div>
			</div>	
		</div>
</div>

<!-- 商品详情Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" th:fragment="detail_modal">
	<div class="modal-dialog" role="document" style="width:55%">
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" style="font-size:40px;">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-th"></i>【商品详情】</h4>
			</div>
			<div id="myModal_body" class="modal-body" style="padding:10px 30px 30px 50px;">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					关闭
				</button>
			</div>
		</div>
	</div>
</div>

<!-- 商品编辑 Modal-->
<div id="myModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" th:fragment="edit_modal">
	<div class="modal-dialog" role="document" style="width:55%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close">
					<span aria-hidden="true" style="font-size:40px;">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel"><i class="glyphicon glyphicon-edit"></i>【商品编辑】</h4>
			</div>
			<div id="myModalEditBody" class="modal-body" style="text-align:center">
				
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="btn_update();">
					<span class="glyphicon glyphicon-ok"></span>
					确定</button>
				<button type="button" class="btn green" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span>
				取消</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>






