<table style="font-family:'Microsoft YaHei', Arial, Helvetica;font-size:17px;background-color: #ffffff;
border-collapse:separate;border-spacing:15px;margin-right:0px;">
					<tr>
						<td style="width:15%;background-color:#81B4FF">订单编号:</td>
						<td style="width:35%;border-bottom:1px dashed #81B4FF" colspan="2"></td>
						<td style="width:15%;background-color:#81B4FF">用户ID :</td>
						<td style="width:35%;border-bottom:1px dashed #81B4FF" colspan="2"></td>
					</tr>
					<tr style="">
						<td style="width:14%;background-color:#81B4FF">实付金额:</td>
						<td style="width:19%;border-bottom:1px dashed #81B4FF"></td>
						<td style="width:14%;background-color:#81B4FF">支付类型:</td>
						<td style="width:19%;border-bottom:1px dashed #81B4FF;"></td>
						<td style="width:14%;background-color:#81B4FF">支付状态:</td>
						<td style="width:20%;border-bottom:1px dashed #81B4FF;">已支付</td>
					</tr>
					<tr>
						<td style="width:14%;background-color:#81B4FF">支付状态:</td>
						<td style="width:20%;border-bottom:1px dashed #81B4FF" colspan="2"></td>
						<td style="width:14%;background-color:#81B4FF">支付时间:</td>
						<td style="width:20%;border-bottom:1px dashed #81B4FF" colspan="2"></td>
					</tr>
					<tr>
						<td style="width:20%;background-color:#81B4FF">订单创建时间 :</td>
						<td style="width:30%; border-bottom:1px dashed #81B4FF" colspan="2"></td>
						<td style="width:20%;background-color:#81B4FF">订单更新时间:</td>
						<td style="width:30%;border-bottom:1px dashed #81B4FF" colspan="2"></td>
					</tr>
					<tr>
						<td style="width:14%;background-color:#81B4FF">物流名称:</td>
						<td style="width:21%;border-bottom:1px dashed #81B4FF"></td>
						<td style="width:14%;background-color:#81B4FF">物流单号:</td>
						<td style="width:21%;border-bottom:1px dashed #81B4FF"><h5></h5></td>
						<td style="width:14%;background-color:#81B4FF">邮费:</td>
						<td style="width:21%;border-bottom:1px dashed #81B4FF"></td>
					</tr>
					<tr>
						<td style="width:14%;background-color:#81B4FF">发货时间 :</td>
						<td style="width:21%;border-bottom:1px dashed #81B4FF" colspan="2"></td>
						<td style="width:14%;background-color:#81B4FF">交易完成时间 :</td>
						<td style="width:21%;border-bottom:1px dashed #81B4FF" colspan="2"></td>
					</tr>
					<tr>
						<td style="width:14%;background-color:#81B4FF">交易关闭时间 :</td>
						<td style="width:21%;border-bottom:1px dashed #81B4FF" colspan="2"></td>
						<td style="width:14%;background-color:#81B4FF">买家昵称  :</td>
						<td style="width:21%;border-bottom:1px dashed #81B4FF" colspan="2"></td>
					</tr>
					<tr>
						<td style="width:14%;background-color:#81B4FF">买家留言:</td>
						<td style="width:21%;border-bottom:1px dashed #81B4FF" colspan="5"></td>
					</tr>
</table>