<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OnlineMesgMapper">

	<resultMap type="OnlineMesg" id="mesgMap">
		<id column="XH"  jdbcType="VARCHAR" property="xh"/>
		<result column="NAME" jdbcType="VARCHAR" property="name"/>
		<result column="EMAIL" jdbcType="VARCHAR" property="email"/>
		<result column="PHONE" jdbcType="VARCHAR" property="phone"/>
		<result column="CONTENT" jdbcType="VARCHAR" property="content"/>
		<result column="CREATETIME" jdbcType="DATE" property="createtime"/>
		<result column="RNAME" jdbcType="VARCHAR" property="rname"/>
		<result column="RTIME" jdbcType="DATE" property="rtime"/>
		<result column="STATUS" jdbcType="VARCHAR" property="status"/>
		<result column="YXX" jdbcType="VARCHAR" property="yxx"/>		
	</resultMap>
	
	<sql id="columns">
		XH,NAME,EMAIL,PHONE,CONTENT,CREATETIME,RNAME,RTIME,STATUS,YXX
	</sql>
	
	<sql id="queryByParameter">
		<if test="xh !=null">
		 	AND xh=#{xh,jdbcType=VARCHAR}
		</if>
		<if test="name !=null">
			AND name =#{name,jdbcType=VARCHAR}
		</if>
		<if test="email !=null">
			AND email=#{email,jdbcType=VARCHAR}
		</if>
		<if test="phone !=null">
			AND phone =#{phone,jdbcType=VARCHAR}
		</if>
		<if test="content !=null">
			AND content =#{content,jdbcType=VARCHAR}
		</if>
		<if test="rname !=null">
			AND rname =#{rname,jdbcType=VARCHAR}
		</if>
		<if test="rtime !=null">
			AND rtime =#{rtime,jdbcType=DATE}
		</if>
		<if test="status!=null">
			AND status =#{status,jdbcType=VARCHAR}
		</if>
		<if test="yxx !=null">
			AND yxx =#{yxx,jdbcType=VARCHAR}
		</if>
	</sql>
	
	<insert id="sendOnlineMesg" parameterType="java.util.Map">
		INSERT INTO TB_MSG
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="xh !=null">
				XH,
			</if>	
			<if test="name !=null" >
				NAME,
			</if>
			<if test="email !=null">
				EMAIL,
			</if>
			<if test="content !=null">
				CONTENT,
			</if>
			<if test="phone !=null">
				PHONE,
			</if>
			<if test="yxx !=null">
				YXX,
			</if>
			<if test="status !=null">
				STATUS,
			</if>
				CREATETIME,
				
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="xh !=null">
				#{xh,jdbcType=VARCHAR},
			</if>
			<if test="name !=null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="email !=null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="content !=null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="phone !=null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="yxx !=null">
				#{yxx,jdbcType=VARCHAR},
			</if>
			<if test="status !=null">
				#{status,jdbcType=VARCHAR},
			</if>
				NOW(),
		</trim>
	</insert>
	
	<select id="getOnlineMesg" parameterType="java.util.Map" resultMap="mesgMap">
		SELECT 
		<include refid="columns"/>
		FROM TB_MSG
		WHERE 1=1 
		<include refid="queryByParameter"/>	
	</select>
	
	<select id="getOnlineCount" parameterType="java.util.Map" resultType="integer">
		SELECT 
		count(xh)
		FROM TB_MSG
		WHERE 1=1 
		<include refid="queryByParameter"/>	
	</select>
	
	<update id="updateByParam" parameterType="java.util.Map">
		UPDATE TB_MSG 
		<set>
			<if test="name !=null">
				name=#{name,jdbcType=VARCHAR},
			</if>
			<if test="email !=null">
				email=#{email,jdbcType=VARCHAR},
			</if>
			<if test="content !=null">
				content=#{content,jdbcType=VARCHAR},
			</if>
			<if test="phone !=null">
				phone=#{phone,jdbcType=VARCHAR},
			</if>
			<if test="rname !=null">
				rname=#{rname,jdbcType=VARCHAR},
			</if>
			<if test="rtime !=null">
				rtime=#{rtime,jdbcType=DATE},
			</if>
			<if test="status!=null">
				status=#{status,jdbcType=VARCHAR},
			</if>
			<if test="yxx !=null">
				yxx=#{yxx,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE yxx=1 
		AND xh=#{xh,jdbcType=VARCHAR}
	</update>
	
</mapper>