<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.UserMapper">
	<resultMap type="User" id="userMap">
		<id column="ID" jdbcType="VARCHAR" property="id"/>
		<result column="USERNAME" jdbcType="VARCHAR" property="username"/>
		<result column="REALNAME" jdbcType="VARCHAR" property="realname"/>
		<result column="SFZH" jdbcType="VARCHAR" property="sfzh"/>
		<result column="AGE" jdbcType="INTEGER" property="age"/>
		<result column="USERTYPE" jdbcType="INTEGER" property="usertype"/>
		<result column="SEX" jdbcType="VARCHAR" property="sex"/>
		<result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
		<result column="PHONE" jdbcType="VARCHAR" property="phone"/>
		<result column="EMAIL" jdbcType="VARCHAR" property="email"/>
		<result column="SALT" jdbcType="VARCHAR" property="salt"/>
		<result column="CREATED" jdbcType="DATE" property="created"/>
		<result column="UPDATED" jdbcType="DATE" property="updated"/>
		<result column="ABOUT_XH" jdbcType="VARCHAR" property="about_xh"/>
		<collection property="roles" ofType="com.example.demo.domain.Role" javaType="java.util.ArrayList" 
		select="getRoles" column="ID">
		</collection>
	</resultMap>
	
	<resultMap type="Role" id="roleMap">
		<id column="ID" jdbcType="VARCHAR" property="id"/>
		<result column="ROLENAME" jdbcType="VARCHAR" property="roleName"/>
		<result column="ROLECODE" jdbcType="VARCHAR" property="roleCode"/>
		<result column="CREATE_TIME" jdbcType="DATE" property="create_time"/>
	</resultMap>
	
	<sql id="columns">
		ID,
		USERNAME,
		REALNAME,
		SFZH,
		AGE,
		USERTYPE,
		(CASE SEX
			WHEN '0' THEN '女'
			WHEN '1' THEN '男'
			ELSE '未知' END
		)SEX,
		PASSWORD,
		PHONE,
		EMAIL,
		SALT,
		CREATED,
		UPDATED,
		ABOUT_XH
	</sql>	
	<sql id="queryByParam">
		<if test="id !=null and id !=''">
			id=#{id,jdbcType=VARCHAR}
		</if>
		<if test="username !=null and username !=''">
			username=#{username,jdbcType=VARCHAR}
		</if>
		<if test="realname !=null and realname !=''">
			realname=#{realname,jdbcType=VARCHAR}
		</if>
		<if test="sfzh !=null and sfzh !=''">
			sfzh=#{sfzh,jdbcType=VARCHAR}
		</if>
		<if test="age !=null and age !=''">
			sfzh=#{age,jdbcType=INTEGER}
		</if>
		<if test="usertype !=null and usertype !=''">
			usertype=#{usertype,jdbcType=INTEGER}
		</if>
		<if test="sex !=null and sex !=''">
			sex=#{sex,jdbcType=VARCHAR}
		</if>
		<if test="password !=null and password !=''">
			password=#{password,jdbcType=VARCHAR}
		</if>
		<if test="phone !=null">
			phone =#{phone,jdbcType=VARCHAR}
		</if>
		<if test="email !=null">
			email=#{email,jdbcType=VARCHAR}
		</if>
		<if test="created !=null">
			created=#{created,jdbcType=DATE}
		</if>
		<if test="updated !=null">
			updated=#{updated,jdbcType=DATE}
		</if>
		<if test="about_xh !=null">
			about_xh=#{about_xh,jdbcType=VARCHAR}
		</if>
	</sql>
	
	<select id="getUserByParam" parameterType="java.util.Map" resultMap="userMap">
		SELECT <include refid="columns"/> FROM TB_USER
		<where>
			<include refid="queryByParam"/>
		</where>
	</select>
	
	<select id="getAllUsers" resultMap="userMap">
		SELECT <include refid="columns"/> FROM TB_USER
	</select>
	
	<!-- 添加用户信息 -->
	<insert id="addUserInfoselective" parameterType="java.util.Map">
		INSERT INTO TB_USER
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id !=null">
				ID,
			</if>
			<if test="username !=null">
				USERNAME,
			</if>
			<if test="realname !=null">
				REALNAME,
			</if>
			<if test="sfzh !=null">
				SFZH,
			</if>
			<if test="age !=null">
				AGE,
			</if>
			<if test="usertype !=null">
				USERTYPE,
			</if>
			<if test="password !=null">
				PASSWORD,
			</if>
			<if test="phone !=null">
				PHONE,
			</if>
			<if test="email !=null">
				EMAIL,
			</if>
			<if test="salt !=null">
				SALT,
			</if>
			<if test="created !=null">
				CREATED,	
			</if>
			<if test="updated !=null">
				UPDATED,
			</if>
			<if test="about_xh !=null">
				ABOUT_XH,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="id !=null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="username !=null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="realname !=null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="sfzh !=null">
				#{sfzh,jdbcType=INTEGER},
			</if>
			<if test="age !=null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="usertype !=null">
				#{usertype,jdbcType=INTEGER},
			</if>
			<if test="password !=null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="phone !=null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email !=null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="salt !=null">
				#{salt,jdbcType=VARCHAR},
			</if>
			<if test="created !=null">
				#{created,jdbcType=DATE},
			</if>
			<if test="updated !=null">
				#{updated,jdbcType=DATE},
			</if>
			<if test="about_xh !=null">
				#{about_xh,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<!--添加新用户-->
	<insert id="addUserInfo" parameterType="java.util.Map">
		INSERT INTO TB_USER(
		     id,
			 username,
			 realname,
			 sfzh,
			 age,
			 usertype,
			 password,
			 phone,
			 email,
			 salt,
			 created,
			 updated,
			 about_xh
		)
		VALUES(
			id=#{id,jdbcType=VARCHAR},
			username=#{username,jdbcType=VARCHAR},
			realname=#{realname,jdbcType=VARCHAR},
			age=#{age,jdbcType=INTEGER},
			sfzh=#{sfzh,jdbcType=VARCHAR},
			usertype=#{usertype,jdbcType=INTEGER},
			password=#{password,jdbcType=VARCHAR},
			phone =#{phone,jdbcType=VARCHAR},
			email=#{email,jdbcType=VARCHAR},
			salt=#{salt,jdbcType=VARCHAR},
			now(),
			now(),
			about_xh
		)
	</insert>
	
	<!--根据条件修改用户信息修改密码-->
	<update id="updateUserInfoByParam" parameterType="java.util.Map">
		UPDATE TB_USER 
		<set>
			<if test="username !=null and username !=''">
				username=#{username,jdbcType=VARCHAR},
			</if>
			<if test="realname !=null and realname !=''">
				realname=#{realname,jdbcType=VARCHAR},
			</if>
			<if test="sfzh !=null and sfzh=!''">
				sfzh=#{sfzh,jdbcType=VARCHAR},
			</if>
			<if test="age !=null and age !=''">
				age=#{age,jdbcType=INTEGER},
			</if>
			<if test="usertype !=null and usertype=!''">
				usertype=#{usertype,jdbcType=INTEGER},
			</if>
			<if test="password !=null and password !=''">
				password=#{password,jdbcType=VARCHAR},
			</if>
			<if test="phone !=null and phone !=''">
				phone=#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email !=null">
				email=#{email,jdbcType=VARCHAR},
			</if>
			<if test="salt !=null">
				salt=#{salt,jdbcType=VARCHAR},
			</if>
			<if test="updated !=null">
				updated=#{updated,jdbcType=DATE},
			</if>
		</set>
		WHERE 
		username=#{username,jdbcType=VARCHAR}
	</update>
	
	<select id="getRoles" parameterType="String" resultMap="roleMap">
		SELECT 
			r.id,
			r.roleName,
			r.roleCode
		FROM TB_ROLE r LEFT JOIN
		TB_USER_ROLE ur ON r.id=ur.rid
		WHERE ur.uid=#{id,jdbcType=VARCHAR}  
	</select>
	
	<!-- 注销用户信息 -->
	<delete id="removeUserByParam" parameterType="java.util.Map">
		DELETE FROM TB_USER WHERE id=#{id,jdbcType=VARCHAR}
	</delete>
	
</mapper>