<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ZdMapper">
	
	<resultMap type="Zd" id="ZdMap">
		<id column="ZDDM"  jdbcType="VARCHAR" property="zddm"/>
		<result column="MC" jdbcType="VARCHAR" property="mc"/>
		<result column="DM" jdbcType="VARCHAR" property="dm"/>
		<result column="PARENTID" jdbcType="VARCHAR" property="parentid"/>
		<result column="yxx" jdbcType="VARCHAR" property="yxx"/>
	</resultMap>
	
	<sql id="columns">
		ZDDM,MC,DM,PARENTID,YXX
	</sql>
	<sql id="queryByParameter">
		<if test="zddm !=null and zddm !=''">
			AND zddm=#{zddm,jdbcType=VARCHAR}
		</if>
		<if test="mc !=null and mc !=''">
			AND mc=#{mc,jdbcType=VARCHAR}
		</if>
		<if test="dm !=null and dm !=''">
			AND dm=#{dm,jdbcType=VARCHAR}
		</if>
		<if test="parentid !=null and parentid !=''">
			AND parentid=#{parentid,jdbcType=VARCHAR}
		</if>
		<if test="yxx !=null and yxx !=''">
			AND yxx=#{yxx,jdbcType=VARCHAR}
		</if>
	</sql>
	
	<select id="getZdInfo" parameterType="java.util.Map" resultMap="ZdMap">
		SELECT 
		<include refid="columns"/>
		FROM TB_ZD
		<where>
			<include refid="queryByParameter"/>
		</where>
	</select>
<!-- 	<select id="getZdXZQH" parameterType="java.util.Map" resultMap="ZdMap">
		SELECT 
		<include refid="columns"/>
		FROM TB_ZD
		WHERE 
		yxx=#{yxx,jdbcType=VARCHAR}
		AND parentid=#{parentid,jdbcType=VARCHAR}
		AND zddm=#{}
	</select> -->
	
</mapper>