<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" th:fragment="navbar_top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
					<span class="sr-only">Toggle naviagtion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" style="margin-left:100px;">如意商品</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">
							<span class="glyphicon glyphicon-home">&nbsp;首页</span>
						</a>
					</li>
					<li>
						<a href="#shop">
							<span class="glyphicon glyphicon-shopping-cart">&nbsp;购买</span>
						</a>
					</li>
					<li>
						<a href="#support">
							<span class="glyphicon glyphicon-headphones">&nbsp;Support</span>
						</a>
					</li>
				</ul>
			</div>
</nav>