<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta  charset="UTF-8"/>
	<title>WelcomePage</title>
</head>
<body>
	<div id="panel_zero"  class="panel panel-primary" style="padding-bottom:0px;" th:fragment="welcomePage">
		<div class="panel-body panel_body_style" style="text-align:center">
				<div style="background-color:#FFF;margin-left:1%;margin-right:4%;height:50px;">
					<div style="font-size:30px;line-height:50px;">
						<strong><span id="now_time" style="height:100px;"></span></strong>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1"></div>				
					<div class="col-md-10">
						<font color="red" style="font-size:200px;">WELCOME</font>
					</div>
					<div class="col-md-1"></div>
				</div>
		</div>
	</div>
</body>
</html>