<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta  charset="UTF-8"/>
	<title>WelcomePage</title>
</head>
<body>
	<div id="panel_zero"  class="panel panel-primary" style="padding:0px;" th:fragment="welcomePage">
		<div class="panel-body panel_body_style" style="text-align:center;padding-top:50px;">
				<div class="row" style="background-color:#FFF;line-height:50px;">
					<div class="col-md-2"><span class="glyphicon glyphicon-stats" style="color:red;font-size:22px;"></span>&nbsp;&nbsp;
						<a href="/export/saleRanking"><font>销售排行榜下载:</font></a></div>
					<div class="col-md-10">
						<div style="height:50px;">
							<div style="font-size:30px;">
								<strong><span id="now_time" style="height:100px;"></span></strong>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-1"></div>				
					<div class="col-md-10">
						<font color="red" style="font-size:200px;">WELCOME</font>
					</div>
					<div class="col-md-1"></div>
				</div>
		</div>
	</div>
</body>
</html>